<div class="row">
  <div class="col-12">
    <div class="card">
      <h4 class="card-header">
        Create Project<button type="button" class="btn btn-primary btn-sm float-right" (click)="createProjectCollapsed = !createProjectCollapsed"
          [attr.aria-expanded]="!createProjectCollapsed" aria-controls="createProject">
              <i class="fa" aria-hidden="true" [ngClass]="{
                'fa-plus': createProjectCollapsed,
                'fa-minus': !createProjectCollapsed
              }"></i>
              </button></h4>
      <div class="card-body" [ngbCollapse]="createProjectCollapsed" id="createProject">
        <form [formGroup]="projectForm" (ngSubmit)="submit()" novalidate>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="username" aria-describedby="nameHelp" placeholder="Name" formControlName="name"
              [(ngModel)]="project.name" required [ngClass]="{
                          'is-valid': projectForm.controls.name.valid && projectForm.controls.name.dirty,
                          'is-invalid': projectForm.controls.name.invalid && projectForm.controls.name.dirty
                        }">
          </div>
          <div class="form-group">
            <label for="repository">Repository address</label>
            <input type="text" class="form-control" id="repository" placeholder="repository" formControlName="repository" required [(ngModel)]="project.repository"
              [ngClass]="{
                        'is-valid': projectForm.controls.repository.valid && projectForm.controls.repository.dirty,
                        'is-invalid': projectForm.controls.repository.invalid && projectForm.controls.repository.dirty
                      }">
          </div>
          <div class="form-group">
            <label for="key">Private key</label>
            <textarea rows="3" class="form-control" id="key" placeholder="key" formControlName="key" required [(ngModel)]="project.key"
              [ngClass]="{
                            'is-valid': projectForm.controls.key.valid && projectForm.controls.key.dirty,
                            'is-invalid': projectForm.controls.key.invalid && projectForm.controls.key.dirty
                          }"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!projectForm.valid || submitting">Submit</button>
          <span *ngIf="submitting"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                        <span class="sr-only">Loading...</span>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="row" style="margin-top:3em;">
  <div class="col-12">
    <div class="card">
      <h4 class="card-header">Projects ({{projectRepository.getAllProjects().length}})</h4>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let project of projectRepository.getAllProjects()">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><a routerLink="/projects/{{project.id}}">{{project.name}}</a></h5>
            <small>{{project.updatedAt}}</small>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small>Donec id elit non mi porta.</small>
        </li>
      </ul>
    </div>
  </div>
</div>
