//$popover-bg: #000;
//$popover-body-color: #fff;

@import "~bootstrap/scss/bootstrap.scss";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";


/*
Branch filter
 */

.item-filter-dropdown {
  .dropdown-item {
    padding: 0.25rem 2.5rem;
  }
  i.fa {
    position: absolute;
    left: 12px;
    margin-top: 5px;
  }
}


/*
 * Sidebar
 */

.menu-toggle-dropdown {

  position: absolute;
  bottom: 10px;
  left: 14px;
  width: 75px;
  margin: 0;
  border: 0;
  padding: 0;
  z-index: 10;

  .btn {
    width: 46px;
    height: 46px;
    padding: 6px 0;
    border-radius: 20px;
    text-align: center;
    font-size: 23px;
    line-height: 1.42857;
    background-color: rgb(244, 245, 247);
    color: rgb(66, 82, 110);
  }

  .dropdown-toggle::before {
    font: normal normal normal #{$fa-font-size-base}/#{$fa-line-height-base} FontAwesome; // shortening font declaration
    font-size: inherit; // can't have font-size inherit on line above, so need to override
    text-rendering: auto; // optimizelegibility throws things off #1094
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: $fa-var-cogs;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .fa {
    position: relative;
    z-index: 0;
    color: black;
  }

  .dropdown-menu {
    top: -230px !important;
    left: 20px !important;
  }

}

/*
 * Dashboard
 */

.ansi-bold {
  font-weight: 700
}

.ansi-black-fg {
  color: #5D6D7E
}

.ansi-red-fg {
  color: #E74C3C
}

.ansi-green-fg {
  color: #2ECC71
}

.ansi-yellow-fg {
  color: #F1C40F
}

.ansi-blue-fg {
  color: #3498DB
}

.ansi-magenta-fg {
  color: #9B59B6
}

.ansi-cyan-fg {
  color: #1ABC9C
}

.ansi-white-fg {
  color: #ECF0F1
}

.ansi-bright-black-fg {
  color: #5D6D7E;
  font-weight: 700
}

.ansi-bright-red-fg {
  color: #E74C3C;
  font-weight: 700
}

.ansi-bright-green-fg {
  color: #2ECC71;
  font-weight: 700
}

.ansi-bright-yellow-fg {
  color: #F1C40F;
  font-weight: 700
}

.ansi-bright-blue-fg {
  color: #3498DB;
  font-weight: 700
}

.ansi-bright-magenta-fg {
  color: #9B59B6;
  font-weight: 700
}

.ansi-bright-cyan-fg {
  color: #1ABC9C;
  font-weight: 700
}

.ansi-bright-white-fg {
  color: #ECF0F1;
  font-weight: 700
}

.ansi-black-bg {
  background-color: #5D6D7E
}

.ansi-red-bg {
  background-color: #E74C3C
}

.ansi-green-bg {
  background-color: #2ECC71
}

.ansi-yellow-bg {
  background-color: #F1C40F
}

.ansi-blue-bg {
  background-color: #3498DB
}

.ansi-magenta-bg {
  background-color: #9B59B6
}

.ansi-cyan-bg {
  background-color: #1ABC9C
}

.ansi-white-bg {
  background-color: #ECF0F1
}

.ansi-bright-black-bg {
  background-color: #5D6D7E;
  font-weight: 700
}

.ansi-bright-red-bg {
  background-color: #E74C3C;
  font-weight: 700
}

.ansi-bright-green-bg {
  background-color: #2ECC71;
  font-weight: 700
}

.ansi-bright-yellow-bg {
  background-color: #F1C40F;
  font-weight: 700
}

.ansi-bright-blue-bg {
  background-color: #3498DB;
  font-weight: 700
}

.ansi-bright-magenta-bg {
  background-color: #9B59B6;
  font-weight: 700
}

.ansi-bright-cyan-bg {
  background-color: #1ABC9C;
  font-weight: 700
}

.ansi-bright-white-bg {
  background-color: #ECF0F1;
  font-weight: 700
}

.ansi-blink {
  animation: 1s blinker step-end infinite
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: none;
  }
}

.bounceInRight {
  animation-name: bounceInRight;
}


.slide-in {
  transform: translateX(-100%);
  animation: slide-in 1s forwards;
  -webkit-animation: slide-in 1s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes fadeOutRightBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}

#build-output-container {
  overflow: scroll;
}
