@import "~bootstrap/scss/bootstrap.scss";

.sk-three-bounce {
  margin-right: 10px;
}

.sk-three-bounce .sk-child {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
  animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}

.sk-three-bounce .sk-bounce1 {
  -webkit-animation-delay: 0.28s;
  animation-delay: 0.28s;
}

.sk-three-bounce .sk-bounce2 {
  -webkit-animation-delay: 0.44s;
  animation-delay: 0.44s;
}

.sk-three-bounce .sk-bounce3 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@-webkit-keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  min-width: 576px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 106px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding-top:1rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


.breadcrumb {
  border-radius: 0;
}

.default-margin-bottom {
  margin-bottom: 15px;
}

.default-margin-top {
  margin-top: 15px;
}

.breadcrumb-container {
  background-color: #4E545A !important;
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 2;

  .breadcrumb {
    background-color: #4E545A !important;

    a {
      color: white;
    }

  }
}

.project-content-container {
  margin-top: 50px;
}

.btn-cancel-delete {
  padding: 0;
  line-height: inherit;
  vertical-align: inherit;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collapse-header {
  cursor: pointer;
}
