<div class="row justify-content-md-center">
  <div class="col col-md-6">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="submit()" novalidate>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Username" formControlName="username" [(ngModel)]="loginUser.username"
              required [ngClass]="{
                'is-valid': loginForm.controls.username.valid && loginForm.controls.username.dirty,
                'is-invalid': loginForm.controls.username.invalid && loginForm.controls.username.dirty
              }">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" required [(ngModel)]="loginUser.password"
            [ngClass]="{
              'is-valid': loginForm.controls.password.valid && loginForm.controls.password.dirty,
              'is-invalid': loginForm.controls.password.invalid && loginForm.controls.password.dirty
            }">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid || submitting">Submit</button>
            <span *ngIf="submitting"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
              <span class="sr-only">Loading...</span>
            </span>
        </form>
      </div>
    </div>
  </div>
</div>
