<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">VeloCIty</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!this.apiService.isAuthenticated()">
        <a class="nav-link" routerLink="/sign-in" routerLinkActive="active">Sign in</a>
      </li>
      <li class="nav-item" *ngIf="this.apiService.isAuthenticated()">
        <a class="nav-link" routerLink="/manage-projects" routerLinkActive="active">Projects</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top:4.5rem;">
  <router-outlet></router-outlet>
</div>
